@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

html{
    background-color: #3055A6;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main .wiley{
    width: 280px;
    border-radius: 90%;
    position: relative;
    left: -140px;
    width: 40%;
}

main .container{
    display: flex;
    background-color: #fcfcfc;
    border-radius: 15px;
    position: absolute;
    padding: 10px;
    min-height: 380px;
    max-width: 708px;
    justify-content: flex-end;
}

main .container .conteudo{
    display: flex;
    flex-direction: column;
}

main .container .conteudo .titulo{
    margin-bottom: 20px;
    font-weight: 700;
}

main .container .conteudo .lista-de-perguntas{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 90%;
}

main .container .conteudo .lista-de-perguntas .item{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.seta-fechada{
    background-image: url(../img/seta\ fechada.png);
    background-repeat: no-repeat;
    background-position: top 20px right 5px;
}
.seta-aberta{
    background-image: url(../img/seta\ aberta.png);
    background-repeat: no-repeat;
    background-position: top 20px right 5px;
}

main .container .conteudo .lista-de-perguntas .item:last-child{
    border-bottom: none;
}

main .container .conteudo .lista-de-perguntas .item .pergunta{
    padding-right: 30px;
    transition: 0.2s ease;
    cursor: pointer;
}

main .container .conteudo .lista-de-perguntas .item .pergunta:hover{
    color: #f47c57;
}


